# -------------------------
# PostgreSQL
# -------------------------

POSTGRES_DB=heartbeat
POSTGRES_USER=heartbeat_user
POSTGRES_PASSWORD=heartbeat_password
POSTGRES_PORT=5432


# -------------------------
# Kafka
# -------------------------

KAFKA_PORT=9092


# -------------------------
# Monitoring
# -------------------------

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin_password


# -------------------------
# Simulator
# -------------------------

SIMULATOR_CUSTOMER_COUNT=100
SIMULATOR_INTERVAL_SECONDS=1
SIMULATOR_ABNORMAL_PROBABILITY=0.05
SIMULATOR_LATE_PROBABILITY=0.05
SIMULATOR_MAX_LATE_DELAY_SECONDS=10